/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navy: #2f3537;
$light: #b2cad1;
$pink: #FFD5EC;

.clearfix {
  clear: both;
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $light;
  margin: 0;
  padding: 0;
  background-color: $navy;
  font-family: Avenir serif;
}

.form-group {
  display: block;
  margin-top: 10px;
}

.gif {
  @extend .clearfix;
  width: 600px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.gif-container {
  overflow: scroll;
  min-width: 600px;
  padding: 20px;

  img {
    border-radius: 50%;
    padding: 10px;
    width: 600px;
    border: 2px dotted $light;
  }
}

.icons {
  margin: auto;

  img {
    height: 50px;
    width: 50px;
    margin-left: 10px;

    &:hover {

    }
  }
}

label {
  display: inline-block;
  width: 100px;
}

.playlist {
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  overflow: scroll;
  text-align: left;
  border-bottom: 2px solid $light;

  a {
    color: lavender;
    text-decoration: none;

    &:hover {
      text-shadow: 0 0 15px $pink;
    }
  }

  button {
    background-color: rgba(0,0,0,0);
    border: 0px solid $light;
    font-size: 16px;
    color: $pink;
    cursor: pointer;
    outline: none;

    &:hover {
      text-shadow: 0 0 15px $pink;
    }
  }

  .flash {
    color: $pink;
  }

  .likes {
    display: inline-block;
    margin-left: 70%;
  }

  ol {
    list-style-type: none;
  }
}

.sidebar {
  display: inline-block;
  width: 320px;
  float: left;
  margin: 10px;
  padding-right: 20px;
  border-right: 2px solid $light;
  text-align: center;

  p {
    color: $light;
    position: relative;
    bottom: 0;
  }
}

.submit-button {
  color: $light;
  background-color: $navy;
  border: 2px solid $light;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 20px;
  outline: none;

  &:hover {
    box-shadow: 0 0 10px $light;
  }
}

.title {
  text-align: center;
  border-radius: 10px;
  border: 2px solid $light;
  padding: 20px;
  font-size: 60px;
  width: 300px;

  em {
    font-weight: bold;
    color: lavender;
  }

  span {
    color: paleturquoise;
  }
}

.textfield {
  background-color: rgba(250, 250, 250, .75);
  color: $navy;
  border-radius: 10px;
  width: 60%;
}

.wrapper {
  z-index: 1;
  position: absolute;
  width: 100%;
}

@media all and (max-width: 950px) {

  .sidebar {
    display: block;
    border-right: 0 solid $light;
    border-bottom: 2px solid $light;
    height: 400px;
    width: 96%;
    overflow: scroll;
    margin: 2%;
    padding: 0;
  }

  .gif-container {
    display: block;
  }

  .title {
    margin: auto;
  }
}

@media all and (max-width: 600px) {
  .sidebar {
    float: none;
  }

  .gif-container img, .gif, .gif-container {
    min-width: 300px;
    width: 100%
  }

}

.planet {
  z-index: -1;
  opacity: .25;
  position: absolute;
  border-radius: 50%;
  //-webkit-filter: blur(3px)
}

.neptune {
  @extend .planet;
  width: 200px;
  height: 200px;
  right: 20px;
  top: 20px;
}

.pluto {
  @extend .planet;
  bottom: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
}

.uranus {
  @extend .planet;
  width: 150px;
  height: 180px;
  top: 200px;
  left: 50px;
}

.jupiter {
  @extend .planet;
  width: 300px;
  height: 250px;
  top: 10px;
  left: 400px;
}

.mercury {
  @extend .planet;
  width: 50px;
  height: 90px;
  left: 20px;
  bottom: 20px;
}

.luna {
  @extend .planet;
  width: 120px;
  height: 130px;
  bottom: 500px;
  right: 300px;
}

.saturn {
  @extend .planet;
  width: 280px;
  height: 310px;
  bottom: 50px;
  right: 250px;
}

.venus {
  @extend .planet;
  width: 220px;
  height: 240px;
  top: 40px;
  left: 300px;
}

.mars {
  @extend .planet;
  height: 320px;
  width: 270px;
  bottom: 150px;
  right: 40px;
}

.polaris {
  @extend .planet;
  height: 315px;
  width: 305px;
  right: 450px;
  top: 450px;
}

.sun {
  @extend .planet;
  height: 310px;
  width: 350px;
  right: 80px;
  top: 350px;
}
