<!DOCTYPE html>
<html>
<head>
  <title>RainyDay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0">
</head>
<body>

<div class="neptune"></div>

<div class="pluto"></div>

<div class="uranus"></div>

<div class="jupiter"></div>

<div class="mercury"></div>

<div class="mars"></div>

<div class="venus"></div>

<div class="luna"></div>

<div class="saturn"></div>

<div class="sun"></div>

<div class="polaris"></div>

<%= yield %>

</body>
</html>
